*{
	padding:0;
	margin: 0;
	box-sizing: border-box;
}

.h1{
	text-align: center;
	color: red;
	
}
.About-img{
	position: relative;
}

.span text img{
	position: absolute;
	top: 0;
	left:0;
}
.img {width:50%; float: left; height: 500px}

.title {width:50%; float: left; height: 500px}