*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}
     
body{
	margin:0 auto;
	width:900px;

}

.banner img{
	max-width: 100%;
}
.banner-item img{width: 100%;}
.menu{
	border-bottom: auto;
	z-index:99;
}

ul {
 background: #8AD385;
 width: 200px;
 list-style-type: none;
}

ul li {
 width: auto;
 height: 40px;
 line-height: 40px;
 border-bottom: 1px solid #e8e8e8;
 padding: 2 8px;
}
ul li a {
 text-decoration: none;
 color: #333;
 font-weight: bold;
 display: block;
}
ul li:hover {
 background: #CDE2CD;
}

.submenu {
 position: absolute;
 left: 200px;
 top: 0;
 display: none;
}

li:hover .submenu {
 display: block;
}
.discount{
    overflow: auto;
}

.banner{
	
	max-width:100%;
}


.discount img{
	padding-top: 21px;
    max-width: 76%;
    float: right;
    margin: 0 auto;
}

.main-content h1{
	font-size: 30px;
}
.main-content img{
	width: 25%;
    vertical-align: top;}

.main-content{
	position:relative;
	left: 134px;
	margin-top:10px;
	left: 216px;
    top: 11px;}	
.danhsach{
	position:relative;
			  left: 134px;
			  margin-top:10px;
			  left: 216px;
    		  top: 11px;
}
.danhsach img{
	width: 15%;
	display: block;
    vertical-align: top;
}


h1{
	color: blue;
	font-size: 30px;
}
.menu-item a {
	text-decoration: none;
	color: #ede4e4;
	padding: 5px 10px;
	font-family: "Times New Roman", Times, serif;
}
.logo {
	background-color: green;
	margin: 0 auto;
	float: left;
}
	
.danhsach1 {
	width: 100%;
	height:100px;

}
.thucpham2 { width: 100%; height: 393px; }
.thucpham img{
	width: 100%;
	height: 300px;	
	display: block;
	background-color: blue;	
	
}

.thucpham2 img{
	width: 100%;
	height: 300px;
	float: left;
	display: block;
	font-family: 'Courier New', Courier,
	
}
.box{
	text-align: center;
	width: 100%;
	height: 20%;
}
.container-1{
	float: left;
	
}
.search{
	width: 100%;
	height: 42px;
	text-align: center;
}

.wrap-img{
	width:20%;
	float: left;
	padding:15px;
	background-color: ghostwhite;
}
.wrap-text{
	width:20%;
	float: left;
	padding:15px;
	background-color: ghostwhite;
}
.img1{
	overflow: hidden;
}
.img1:hover {
	transform: scale(1.2);
	opacity: 0.8;
	
}
.end {
	width: 100%;
	height:50px;
	float: left;
	font-size: 13px;
	font-family: monospace;
}
.footer {    width: 100%;
    height: 200px;
    }
 .col-1 { width: 25%; height: 100%  ; float: left;}   
 .col-1 .img {    padding:31px 12px;
    height: 47%;
    width: 100%; }
 .col-1 span { display: block; padding: 4px 12px;}
 .col-2 { width: 25%; height: 100%  ; float: left;} 
 .col-2  { display: block; padding: 4px 12px;padding-top: 3%}
 .col-3 { width: 25%; height: 100%  ; float: left;} 
 .col-3  { display: block; padding: 4px 12px; padding-top: 3%} 
 .col-4 { width: 25%; height: 100% ;float: left; padding-top: 3%} 
