.container {
    position: relative;
}
@media { (min-width: 1200px)}
.container {
    width: 1170px;
}
@media { (min-width: 992px)}
.container {
    width: 970px;
}
@media { 
    min-width: 768px;}
.container {
    width: 750px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
#news-detail .info-detail {
    max-width: 680px;
    margin: 0 auto 30px;
    text-align: center;
}
h1.list_title {
    color: #0C713D;
    font-size: 25px;
    line-height: 32px;
    text-align: center;
}