body {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

ul{
	margin: 0px;
	padding: 0px;
	
}

ul li {
	list-style: none;

}

#menu{
	width: 1000px;
	margin: 0px auto;
	background: #293a4a;
	float: left;
	height: 40px;
}


.monannhe {
  width: 100%;
  display: inline;
}
.monannhe-tieude {
  width: 100%;
  ;
}
.monannhe-chitiet {
  /*! display: inline; */
  /*! padding: 10px; */
  float: left;
  width: 33.33333%;
}
.monannhe-chitiet img {
  /*! width: calc(100%/3 - 70px); */
  /*! float: left; */
  /*! margin: 10px; */
  width: 89%;
  height: 202px;
  overflow: hidden;
}
.monannhe-chitiet a {
  display: block;
  /*! width: calc(100%/3 - 70px); */
}

.douong {
  width: 100%;
  display: inline;
}
.douong-title {
  width: 100%;
  /*! text-align: center; */
}
.douong-chitiet {
  /*! display: inline; */
  /*! padding: 10px; */
  float: left;
  width: 33.33333%;
}
.douong-chitiet img {
  /*! width: calc(100%/3 - 70px); */
  /*! float: left; */
  /*! margin: 10px; */
  width: 89%;
  height: 200px;
  overflow: hidden;
}
.douong-chitiet a {
  display: block;
  /*! width: calc(100%/3 - 70px); */
